### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage
coverage*


### Go Patch ###
/vendor/
/Godeps/

# Intellij
.idea/

# VSCode
.vscode/

# Helm
/helm/grafeas/charts/*

# Local config
/local/
!/local/elasticsearch/
!/local/config.yaml